{% extends 'base.html' %}

{% load static %}

{% block title %}{{term}} - Google{% endblock title %}

{% block content %}
    <div class="wrapper">
        <div class="header">
            <div class="headerContent">
                <div class="logoContainer">
                    <a href="{% url 'index' %}">
                        <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png">
                    </a>
                </div>

                <div class="searchContainer">
                    <form action="" method="GET">
                        <div class="searchBarContainer">
                            <input class="searchBox" type="text" name="term" value="{{term}}">
                            <button class="searchButton">
                                <img src="{% static 'img/search.png' %}"/>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="tabsContainer">
                <ul class="tabList">
                    <li class="{% if type == "sites" %}active{% else %}{% endif %}">
                        <a href="?term={{term}}&type=sites">
                            Sites
                        </a>
                    </li>
                    <li class="{% if type == "images" %}active{% else %}{% endif %}">
                        <a href="?term={{term}}&type=images">
                            Images
                        </a>
                    </li>
                </ul>
            </div>  
        </div>

        <div class="mainResultsSection">
            <p class="resultsCount">{{links_count}} results found</p>

            <div class="siteResults">
                {% for link in links %}
                    <div class="resultContainer">
                        <h3 class="title">
                            <a class="result" href="{{link.url}}">
                                {% if link.title|length > 55 %}
                                    {{link.title|slice:":55"}}...
                                {% else %}
                                    {{link.title}}
                                {% endif %}
                            </a>
                        </h3>
                        <span class="url">
                            {{link.url}}
                        </span>
                        <span class="description">
                            {% if link.description|length > 230 %}
                                {{link.description|slice:":230"}}...
                            {% else %}
                                {{link.description}}
                            {% endif %}
                        </span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

        
{% endblock content %}